/* Important Code */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  @media screen and (max-width:600px){
    header.primary ul{
      flex-direction: column;
      gap: 20px;
      max-width: 250px;
      margin: auto;
    }
  
    header.primary nav a{
      display:block;
    }
  }

  /* ------ Utility Classes (makes content flow better, and better margins) ------ */

  .container{
    max-width: 600px;
    width: 80vw;
    margin: 20px auto;
  }

  .img-left{
    float:left;
    margin: 10px 20px 10px 0;
    border: 3px solid #5C4B51;
    padding: 5px;
    border-radius: 10px;
  }

  /* ------ Responsive Images ------ */
 img{
    max-width:100%;
   }


/* Code for the main body */

   body{
    background-color: #8F949F;
    margin: 0;
    font-family: "Lilita One", sans-serif;
    line-height: 1.5;
    letter-spacing: 1.1px;
   }


  /* Header for all pages*/
   header.primary{
    background-color: #3F3840;
   color:#ffffff;
   text-align: center;
   text-shadow: 3px 3px 13px #5C4B51;
   padding: 8px;
 }

 header.primary img{
    max-width: 400px;
    justify-content: center;
    margin-left: 75px;
    margin-top: -55px;
    margin-bottom: -35px;
 }

   header.primary h1 {
    font-size: 5rem;
    margin: 20px 0 0;
    font-family: 'BankGothic Md BT', sans-serif;
  }
  
  header.primary h2{
    margin: 0;
    font-size: 1.7rem;
    font-family: 'BankGothic Md BT', sans-serif;
    margin-top: 10px;
    letter-spacing: 1.4px;
  }
  
  header.primary nav{
    max-width: 900px;
    margin: 25px auto;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 2rem;
  }
  
  header.primary ul{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  header.primary ul li{
    list-style-type: none;
  }
  
  header.primary nav a{
    color: #ffffff;
    text-decoration: none;
    background-color: #5C4B51;
    background-color: rgba(0, 0, 0, .4);
    padding: 10px 20px;
    border-radius: 15px;
    border: 3px inset #EB583B;
    transition: 0.2s;
  }
  
  header.primary nav a:hover{
    background-color: rgba(235, 88, 59, .7);
  }

  #heading blockquote{
    border: 8px double #EB583B;
    padding: 20px 40px;
    margin: 30px 60px;
    border-radius: 50px 0;
    background-color: #3F3840;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
  }
/* footer for all pages*/
  #footermain{
   text-align: center;
   background-color: #3F3840;
   color: #F0F1F0;
   padding: 20px;
  font-size: 1.5rem;
  
  }

#footermain a{
    color: inherit;
  }

#footermain a:hover{
  color: #EB583B;
  transition: 0.5s;
}


/*Home Page CSS*/

#blog{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  border-bottom:5px double #3F3840;
  padding-bottom: 3rem;
}
.container img {
  max-width: 400px; 
  max-height: 300px; 
}
#blog .post{
  box-shadow: 0 6px 14px rgba(235, 88, 59, .7);
  padding:20px;
  border-radius: 4px;
  font-size: .9rem;
  transition: 0.5s;
  flex: 1;
  text-align: center;
} 

#blog .post:hover{
  box-shadow: 0 20px 40px rgba(235, 88, 59, .95);
} 
#blog figure{
  margin: 0;
}

#blog h2{
  flex: 0 0 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #F0F1F0;
}

#blog header{
  padding-top: 10px;
  font-size: 0.8rem;
  color: #3F3840;
}

#blog header h2{
  margin: 0;
}


#blog p{
  color:#F0F1F0;
  margin-left: 20px;
  margin-right: 20px;
}

.container{
  max-width: 1200px;
  width: 80vw;
  margin: 20px auto;
}
#heading{
  margin: 60px ;
  display: block;
  max-width: 1200px;
  width: 80vw;
  margin: 20px auto;
}
#heading h1{
  text-align: center;
  text-transform: uppercase;
  color: #F0F1F0;
  font-size: 2rem;
  border-top: 5px double #3F3840;
  padding-top: 3rem;
  }

#heading p{
  color: #F0F1F0;
  border-bottom:5px double #3F3840;
  padding-bottom: 3rem;
  text-align: center;
}

#heading h2{
  text-align: center;
  text-transform: uppercase;
  color: #F0F1F0;
  font-size: 2rem;
  border-top: 5px double #3F3840;
  padding-top: 3rem;
}


/* Faqs css */

details {
  width: auto;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: double 5px #5C4B51;
  color: white;
}
details > summary {
  padding: 6px 10px;
  width: auto;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.5rem;
}

details > p {
  border-radius: 0 0 10px 10px;
  padding: 2px 6px;
  box-shadow: 3px 3px 4px black;
  margin-top: 20px;
}

/* history */

table{
  border: 5px solid #5C4B51;
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
caption{
  font-weight: bold;
  margin: 10px;
  color: white;
  font-size: 2rem;
}

th{
  background-color: #3F3840;;
  color: #EB583B;
  padding: 7px;
  }
  
  tr:nth-child(even){
  background-color:rgba(243, 181, 98, .3) ;
  }
  
  td{
    border: 5px solid #EB583B;
    padding: 5px;
  }
   tr:hover{
    background-color: rgba(243, 181, 98, .6);
   }
  
   td:nth-child(n+2){
    text-align:center;
   }

   #heading ul{
      color: white;
      list-style-type: square;
      border-bottom:5px double #3F3840;
      padding-bottom: 3rem;
   }

   #heading ul li{
      margin: 30px;
      font-size: 1.1rem;
   }

   
   #wufoo-z1kljkp0k0imdo {
    margin: 100px;
   }